*{
    box-sizing: border-box;
}

.todo {
    width: 500px;
    height: 500px;
    background-color: #FFEBB6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;

    &__form{
        margin-bottom: 30px;
        button{
            width: 60px;
        }
    }

    &__button--add{
        border-radius: 15px;
        background-color: orange;
        color: white;
        font-size: 30px;
        cursor: pointer;

        &:hover{
            background-color: #FF9800; 
            transform: scale(1.1); 
        }
   
    }

    

   
    

    &__item{
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;

        button{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            background-color: orange;
            color: white;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: #FF9800; 
                transform: scale(1.1); 
            }

          
        }

        

     
    }
   
    span{
        width: 65%;
    }
   
   
    input{
        width: 85%;
        font-size: 20px;
        padding: 10px;
        border-radius: 15px;
    }
    &__add{
        display: flex;
        justify-content: space-between;
       
    }

    .done{
        text-decoration: line-through;
    }

}

